<nav>
    <div class="nav-inner">
        <a href="#" class="nav-inner__logo">My Own Shelf</a>
        <a href="#" class="nav-inner__menu-button">My Library</a>
        <a href="#" class="nav-inner__menu-button">Friends</a>
        <div class="nav-inner__icons-container">
            <form class="nav-inner__search-container" action="#" autocomplete="off">
                <input id="nav-search-box" type="text" class="search-container__search-box" placeholder="Search">
                <button class="search-container__search-button fa fa-search fa-2x" id="nav-search-button"></button>
            </form>
            <a href="#" class="fa fa-bell fa-2x">
                <i href="#" class="fa fa-circle nav-inner__icon--circle nav-inner__icon--circle-ntf hidden"></i></a>
            <a href="#" class="fa fa-envelope fa-2x">
                <i href="#" class="fa fa-circle nav-inner__icon--circle nav-inner__icon--circle-msg hidden"></i></a>
            <a href="#" class="fa fa-user fa-2x"></a>
        </div>
    </div>
</nav>