* {
  font-family: "Trirong", serif;
  text-decoration: none !important; }

a {
  color: inherit; }

.bold-text {
  font-weight: bold; }

.main-page-element, .feed, .side-panel {
  margin-top: 80px;
  display: inline-block;
  vertical-align: top; }

.feed {
  width: 56%;
  margin-left: 9%;
  padding-right: 15px;
  border-right: 1px solid #d1bbe4; }

.side-panel {
  margin-left: 15px;
  width: 22.5%; }

.feed-post {
  background-color: #dbdbdb;
  border: 1px #6d3b98 solid;
  margin-bottom: 20px; }
  .feed-post__body {
    display: inline-flex;
    margin: 15px 0;
    padding: 0 15px; }
  .feed-post__avatar {
    display: inline-block;
    border: 1px #6d3b98 solid;
    height: 60px; }
  .feed-post__text {
    display: inline-block;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 15px; }
  .feed-post__side {
    margin: 15px 0;
    border-spacing: 30px 0;
    float: right;
    border-left: 1px solid #d1bbe4;
    display: table; }
  .feed-post__arrow {
    color: #6d3b98;
    display: table-row !important;
    float: right;
    vertical-align: top; }
  .feed-post__date {
    text-align: right;
    font-size: 10px;
    color: #6d3b98;
    display: table-row;
    vertical-align: bottom;
    margin: 0; }
