$logo-font-family: 'Rochester', cursive;
$regular-font-family: 'Trirong', serif;
$main-background-color: #f4f4f4;
$nav-background-color: darken($main-background-color, 10%);
$nav-hover-background-color: darken($nav-background-color, 3%);
$main-theme-color: #6d3b98;
$separator-color: lighten($main-theme-color, 40%);
$main-stroke-color: #eae7e0;
$max-nav-width: 1100px;
$basic-transition-time: 0.25s;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin stroke($color, $size) {
  text-shadow: -$size 0 $color, 0 $size $color, $size 0 $color, 0 (-$size) $color;
}

@mixin transition($property, $timing-function, $delay) {
  -webkit-transition: $property $timing-function $delay;
  -moz-transition: $property $timing-function $delay;
  -ms-transition: $property $timing-function $delay;
  -o-transition: $property $timing-function $delay;
  transition: $property $timing-function $delay;
}

@mixin multiple-transitions($transition-arguments...) {
  -webkit-transition: $transition-arguments;
  -moz-transition: $transition-arguments;
  -ms-transition: $transition-arguments;
  -o-transition: $transition-arguments;
  transition: $transition-arguments;
}